$radius: 10px;
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .cart {
    width: 20rem;
    height: 26rem;
    position: relative;

    .cartAction {
      position: absolute;
      bottom: 10px;
    }
  }
}

.badge {
  top: 13px;
  right: 13px;
  font-size: 17px;
  position: absolute;
}
